body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

div.form_group {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 22px;
  gap: 5px;
  margin-bottom: 5px;

}